.headsearch{
   
       
}
.text-center{
    display:flex;
    gap:26px;
    margin:15px;
    border: 1px solid black;
    width: fit-content;
    padding:17px;
    border-radius:40px;
    
    
    
}
input{
    
}

.py-4{
    display: none;
}


.picture-grid {
        display: flex;
        overflow-x: scroll; /* Enables horizontal scrolling */
        gap: 10px;
        scroll-behavior: smooth; /* Smooth scrolling effect */
      }
    
      .picture-grid::-webkit-scrollbar {
        height: 8px; /* Height of the horizontal scrollbar */
      }
    
      .picture-grid::-webkit-scrollbar-thumb {
        background-color: #404041; /* Color of the scrollbar thumb */
        border-radius: 4px;     /* Rounded corners */
      }
    
      .picture-grid::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Color of the scrollbar track */
      }
    
      .card {
        flex: 0 0 auto;  /* Prevent shrinking */
        width: 15%;     /* Adjust based on design */
        height: 150px;   /* Example height */
        
      }


      .picture-grid2 {
        display: flex;
        overflow-x: scroll; /* Enables horizontal scrolling */
        gap: 10px;
        scroll-behavior: smooth; /* Smooth scrolling effect */
      }
    
      .picture-grid2::-webkit-scrollbar {
        height: 8px; /* Height of the horizontal scrollbar */
      }
    
      .picture-grid2::-webkit-scrollbar-thumb {
        background-color: #404041; /* Color of the scrollbar thumb */
        border-radius: 4px;     /* Rounded corners */
      }
    
      .picture-grid2::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Color of the scrollbar track */
      }
    
      .card {
        flex: 0 0 auto;  /* Prevent shrinking */
        width: 15%;     /* Adjust based on design */
        height: 150px;   /* Example height */
        
      }
    
.no-gap{
  margin:0px;
}
section{
  margin:30px;
}










@media only screen and (max-width: 768px){
    

    .py-4{
    display: grid;
}
#getget{
    display: none;
}
#yesyes{
    display:none;
}
#gridgrid{
    display:none;
}
.navbar{
 
}
#abouttt{
  display: flex;
  width:10px;
  margin-left: auto;
  margin-right: auto;
  white-space:nowrap;
   
}
.picture-grid img {
        flex: 0 0 auto;  /* (Prevent shrinking */
        width: 100%;     /* Adjust based on design */
        height: 150px;   /* Example height!!!!!!!!!) */
        
      }

      
}



@media (min-width: 600px) and (max-width: 1024px){}